/*container*/
.container {
    height: 100vh;
    background: url(/public/img/eg1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: auto;

    /*header*/
    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: transparent;

        .logo {
            display: flex;
            align-items: center;
            font-size: 38px;
            font-weight: bold;
            margin-left: 10px;

            i {
                margin-right: .7rem;
                font-size: 29px;
            }
        }

        // nav
        nav {
            .menu-list {
                margin: 0;

                .menu-list_item {
                    display: inline-block;
                    margin: 0 .5rem;
                    font-size: 24px;
                }


            }



        }


    }



}

/*Content */
.content {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    color: white;

    .slideButton {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        font-size: 1rem;
        cursor: pointer;
        padding: 0 20px 40px;
        background: transparent;
        border: none;
    }

    .prevSlide {
        left: 1rem;
    }

    .nextSlide {
        right: 1rem;
    }

    .contentMark {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        margin-left: 200px;

        .content_clain {
            font-size: 38px;
            color: blue($color: #2c4c69);
            margin: 0;
        }

        .content_subclain {
            margin: .5rem 0;
            margin-bottom: 2rem;
        }

        .book-apointment {
            background-color: blue;
            padding: 1rem 2rem;
            font-size: 24px;
            color: white;
            text-decoration: none;
        }


    }





}

/*footer*/
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;

    .footer_widget_title {
        color: blue;
        margin: 0 0 1rem 0;
        padding: 12px;
    }

    .footer-widget_text {
        margin: 0;
        padding: 12px;

    }

}

.Ms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    form {
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}




/*responsive stuff*/
@media screen and (max-width:700px) {
    .container {
        height: auto;
    }

    .header,
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .content {
        align-items: center;
        margin: 0;
        height: 100vh;

        .contentMark {
            align-items: center;
            margin: 0;
            margin-top: 250px;
            padding: 10px 10px;
        }
    }

    .footer-widget {
        margin-bottom: 1rem;
    }

    .menu {
        margin-top: 1.5rem;
    }
}